<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="Container">
        <extension type="Interception"/>
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="BS.TLFramework.Model.TLFrameworkDb, BS.TLFramework.Model"/>
        <register type="BS.TLFramework.IService.IUserService,BS.TLFramework.IService" mapTo="BS.TLFramework.Service.UserService, BS.TLFramework.Service"/>
        <register type="BS.TLFramework.IService.IMenuService,BS.TLFramework.IService" mapTo="BS.TLFramework.Service.MenuService, BS.TLFramework.Service"/>
        <register type="BS.TLFramework.IService.IMenuActionService,BS.TLFramework.IService" mapTo="BS.TLFramework.Service.MenuActionService, BS.TLFramework.Service"/>
        
        
      </container>
    </containers>
  </unity>
</configuration>

